openapi: "3.1.0"
info:
  title: Penpact API
  version: "1.0.0-preview"
  summary: Open-source, embeddable e-signature API.
  description: |
    The Penpact REST API. Two audiences, two credentials:

    - **Integrator endpoints** (`/v1/envelopes…`) are authenticated with your secret
      **API key** as a Bearer token: `Authorization: Bearer pk_live_…`.
    - **Signer endpoints** (`/v1/sign/{signingToken}…`) are reached by the recipient and
      authorized by the unguessable `signingToken` in the URL — no API key.

    JSON field names are **camelCase**. Timestamps are RFC 3339 / ISO 8601 UTC.
    Errors follow **RFC 7807** (`application/problem+json`).
  license:
    name: AGPL-3.0-only
    url: https://github.com/penpact/penpact/blob/main/LICENSE
  contact:
    name: Penpact
    url: https://penpact.dev

servers:
  - url: https://api.penpact.dev
    description: Managed cloud
  - url: http://localhost:3000
    description: Local self-host

security:
  - ApiKeyAuth: []

tags:
  - name: Envelopes
    description: Create, send, and manage signing requests.
  - name: Fields
    description: Place (or AI-detect) fields on an envelope's document.
  - name: Signing
    description: Recipient-facing signing session (authorized by signingToken).
  - name: Templates
    description: Reusable documents with roles + field placements; bulk send and public links.
  - name: Public
    description: No-auth self-serve signing from a published template.

paths:
  /v1/envelopes:
    post:
      summary: Create an envelope
      operationId: createEnvelope
      tags: [Envelopes]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/EnvelopeCreate" }
      responses:
        "201":
          description: Draft envelope created.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
    get:
      summary: List envelopes
      operationId: listEnvelopes
      tags: [Envelopes]
      parameters:
        - name: status
          in: query
          description: Filter by envelope status.
          schema: { $ref: "#/components/schemas/EnvelopeStatus" }
        - name: cursor
          in: query
          schema: { type: string }
          description: Opaque cursor from a previous page.
        - name: limit
          in: query
          schema: { type: integer, default: 20, minimum: 1, maximum: 100 }
      responses:
        "200":
          description: Paginated list of envelopes.
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Envelope" }
                  pagination: { $ref: "#/components/schemas/CursorPage" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  /v1/envelopes/{envelopeId}:
    parameters:
      - $ref: "#/components/parameters/EnvelopeId"
    get:
      summary: Retrieve an envelope
      operationId: getEnvelope
      tags: [Envelopes]
      responses:
        "200":
          description: The envelope.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/envelopes/{envelopeId}/document:
    parameters:
      - $ref: "#/components/parameters/EnvelopeId"
    put:
      summary: Upload the document to sign
      operationId: uploadEnvelopeDocument
      tags: [Envelopes]
      description: Upload the source PDF for a draft envelope. Replaces any prior upload.
      requestBody:
        required: true
        content:
          application/pdf:
            schema: { type: string, format: binary }
      responses:
        "200":
          description: Stored document metadata.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Document" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
    get:
      summary: Download the document
      operationId: downloadEnvelopeDocument
      tags: [Envelopes]
      description: Returns the sealed final PDF once completed, otherwise the current source PDF.
      responses:
        "200":
          description: PDF bytes.
          content:
            application/pdf:
              schema: { type: string, format: binary }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/envelopes/{envelopeId}/fields:
    parameters:
      - $ref: "#/components/parameters/EnvelopeId"
    post:
      summary: Place fields
      operationId: placeFields
      tags: [Fields]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [fields]
              properties:
                fields:
                  type: array
                  minItems: 1
                  items: { $ref: "#/components/schemas/FieldCreate" }
      responses:
        "201":
          description: Fields created.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Field" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }

  /v1/envelopes/{envelopeId}/fields/auto-detect:
    parameters:
      - $ref: "#/components/parameters/EnvelopeId"
    post:
      summary: Auto-detect fields (AI)
      operationId: autoDetectFields
      tags: [Fields]
      description: Run AI field detection over the uploaded PDF and return proposed fields.
      responses:
        "200":
          description: Proposed fields (not yet persisted unless `persist` is set).
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Field" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }

  /v1/envelopes/{envelopeId}/send:
    parameters:
      - $ref: "#/components/parameters/EnvelopeId"
    post:
      summary: Send the envelope
      operationId: sendEnvelope
      tags: [Envelopes]
      description: Locks the document, emails signing links, and transitions the envelope to `sent`.
      responses:
        "200":
          description: Envelope sent.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }

  /v1/envelopes/{envelopeId}/void:
    parameters:
      - $ref: "#/components/parameters/EnvelopeId"
    post:
      summary: Void the envelope
      operationId: voidEnvelope
      tags: [Envelopes]
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason: { type: string, maxLength: 500 }
      responses:
        "200":
          description: Envelope voided.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }

  /v1/envelopes/{envelopeId}/certificate:
    parameters:
      - $ref: "#/components/parameters/EnvelopeId"
    get:
      summary: Download the Certificate of Completion
      operationId: downloadCertificate
      tags: [Envelopes]
      responses:
        "200":
          description: Certificate PDF.
          content:
            application/pdf:
              schema: { type: string, format: binary }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ─── Signer-facing (authorized by signingToken in the path) ───
  /v1/sign/{signingToken}:
    parameters:
      - $ref: "#/components/parameters/SigningToken"
    get:
      summary: Get the signing session
      operationId: getSigningSession
      tags: [Signing]
      security: []
      responses:
        "200":
          description: Everything the signer UI needs to render.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SigningSession" }
        "404": { $ref: "#/components/responses/NotFound" }
        "410": { $ref: "#/components/responses/Gone" }

  /v1/sign/{signingToken}/consent:
    parameters:
      - $ref: "#/components/parameters/SigningToken"
    post:
      summary: Accept the electronic-records consent disclosure (ESIGN §7001(c))
      operationId: acceptConsent
      tags: [Signing]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [disclosureHash, agree]
              properties:
                disclosureHash: { type: string }
                agree: { type: boolean, const: true }
      responses:
        "204": { description: Consent recorded. }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }

  /v1/sign/{signingToken}/complete:
    parameters:
      - $ref: "#/components/parameters/SigningToken"
    post:
      summary: Submit completed fields and sign
      operationId: completeSigning
      tags: [Signing]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [signatureType, fields]
              properties:
                signatureType: { $ref: "#/components/schemas/SignatureType" }
                fields:
                  type: array
                  items:
                    type: object
                    required: [fieldId, value]
                    properties:
                      fieldId: { type: string, format: uuid }
                      value: { type: string }
      responses:
        "200":
          description: Signature accepted; signer marked signed.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Signer" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }

  /v1/sign/{signingToken}/decline:
    parameters:
      - $ref: "#/components/parameters/SigningToken"
    post:
      summary: Decline to sign
      operationId: declineSigning
      tags: [Signing]
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason: { type: string, maxLength: 500 }
      responses:
        "200":
          description: Decline recorded.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Signer" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }

  /v1/envelopes/generate:
    post:
      summary: Generate an envelope from a markdown template with variable merge
      operationId: generateDocument
      tags: [Envelopes]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/GenerateDocument" }
      responses:
        "201":
          description: Draft envelope created from the rendered document.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }

  /v1/envelopes/{envelopeId}/signers/{signerId}/resend:
    parameters:
      - $ref: "#/components/parameters/EnvelopeId"
      - name: signerId
        in: path
        required: true
        schema: { type: string, format: uuid }
    post:
      summary: Resend a signer's invitation
      operationId: resendInvite
      tags: [Envelopes]
      responses:
        "204": { description: Invitation re-sent. }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/sign/{signingToken}/document:
    parameters:
      - $ref: "#/components/parameters/SigningToken"
      - name: documentId
        in: query
        schema: { type: string, format: uuid }
        description: Specific source document (multi-document envelopes).
    get:
      summary: Download the document being signed
      operationId: getSignerDocument
      tags: [Signing]
      security: []
      responses:
        "200":
          description: The PDF.
          content:
            application/pdf:
              schema: { type: string, format: binary }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/sign/{signingToken}/authenticate:
    parameters:
      - $ref: "#/components/parameters/SigningToken"
    post:
      summary: Pass a step-up auth challenge (access code or email OTP)
      operationId: authenticateSigner
      tags: [Signing]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/Authenticate" }
      responses:
        "204": { description: Verified. }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/templates:
    post:
      summary: Create a template
      operationId: createTemplate
      tags: [Templates]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/TemplateCreate" }
      responses:
        "201":
          description: Template created.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Template" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    get:
      summary: List templates
      operationId: listTemplates
      tags: [Templates]
      responses:
        "200":
          description: Templates.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Template" }

  /v1/templates/{templateId}:
    parameters:
      - name: templateId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      summary: Get a template
      operationId: getTemplate
      tags: [Templates]
      responses:
        "200":
          description: Template.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Template" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      summary: Delete a template
      operationId: deleteTemplate
      tags: [Templates]
      responses:
        "204": { description: Deleted. }

  /v1/templates/{templateId}/document:
    parameters:
      - name: templateId
        in: path
        required: true
        schema: { type: string, format: uuid }
    put:
      summary: Upload the template's document
      operationId: uploadTemplateDocument
      tags: [Templates]
      requestBody:
        required: true
        content:
          application/pdf:
            schema: { type: string, format: binary }
      responses:
        "200":
          description: Template with the document attached.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Template" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }

  /v1/templates/{templateId}/fields:
    parameters:
      - name: templateId
        in: path
        required: true
        schema: { type: string, format: uuid }
    post:
      summary: Place fields on a template
      operationId: placeTemplateFields
      tags: [Templates]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [fields]
              properties:
                fields:
                  type: array
                  items: { $ref: "#/components/schemas/TemplateFieldCreate" }
      responses:
        "201":
          description: Fields placed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/TemplateField" }

  /v1/templates/{templateId}/envelopes:
    parameters:
      - name: templateId
        in: path
        required: true
        schema: { type: string, format: uuid }
    post:
      summary: Create an envelope from a template
      operationId: createEnvelopeFromTemplate
      tags: [Templates]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/InstantiateTemplate" }
      responses:
        "201":
          description: Draft envelope created.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }

  /v1/templates/{templateId}/publish:
    parameters:
      - name: templateId
        in: path
        required: true
        schema: { type: string, format: uuid }
    post:
      summary: Publish a single-role template as a public signing link
      operationId: publishTemplate
      tags: [Templates]
      responses:
        "200":
          description: Public link.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PublishResult" }
        "409": { $ref: "#/components/responses/Conflict" }
    delete:
      summary: Unpublish a template
      operationId: unpublishTemplate
      tags: [Templates]
      responses:
        "204": { description: Unpublished. }

  /v1/templates/{templateId}/bulk-send:
    parameters:
      - name: templateId
        in: path
        required: true
        schema: { type: string, format: uuid }
    post:
      summary: Send a single-role template to many recipients
      operationId: bulkSendTemplate
      tags: [Templates]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/BulkSend" }
          text/csv:
            schema: { type: string, description: "CSV with a name,email header row." }
      responses:
        "202":
          description: Batch processed (per-recipient results).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BulkSendResult" }
        "409": { $ref: "#/components/responses/Conflict" }

  /v1/public/templates/{slug}:
    parameters:
      - name: slug
        in: path
        required: true
        schema: { type: string }
    get:
      summary: Public template metadata (no auth)
      operationId: getPublicTemplate
      tags: [Public]
      security: []
      responses:
        "200":
          description: Template metadata.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PublicTemplate" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/public/templates/{slug}/start:
    parameters:
      - name: slug
        in: path
        required: true
        schema: { type: string }
    post:
      summary: Start a self-serve signing session from a public template (no auth)
      operationId: startPublicSigning
      tags: [Public]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PublicStart" }
      responses:
        "200":
          description: A fresh signing session.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PublicStartResult" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

webhooks:
  envelopeEvent:
    post:
      summary: Envelope lifecycle event
      operationId: onEnvelopeEvent
      description: |
        Penpact POSTs these to your configured endpoint. Verify the
        `Penpact-Signature` header (HMAC-SHA256 of the raw body) before trusting.
      requestBody:
        content:
          application/json:
            schema: { $ref: "#/components/schemas/WebhookEvent" }
      responses:
        "200": { description: Acknowledged. }

components:
  parameters:
    EnvelopeId:
      name: envelopeId
      in: path
      required: true
      schema: { type: string, format: uuid }
    SigningToken:
      name: signingToken
      in: path
      required: true
      schema: { type: string }

  schemas:
    EnvelopeStatus:
      type: string
      enum: [draft, sent, viewed, partially_signed, completed, declined, voided, expired]

    SignerStatus:
      type: string
      enum: [pending, sent, viewed, signed, declined]

    AuthMethod:
      type: string
      enum: [email_link, access_code, email_otp, sms_otp, id_verification]

    SignatureType:
      type: string
      enum: [drawn, typed, adopted, uploaded]

    FieldType:
      type: string
      enum: [signature, initials, date, name, email, text, checkbox, dropdown, radio, stamp]

    Locale:
      type: string
      enum: [en, es, fr, de]

    FieldCondition:
      type: object
      description: Show/require this field only when another field equals a value.
      required: [fieldId, equals]
      properties:
        fieldId: { type: string, format: uuid }
        equals: { type: string }

    SignerCreate:
      type: object
      required: [name, email]
      properties:
        name: { type: string, minLength: 1 }
        email: { type: string, format: email }
        routingOrder: { type: integer, minimum: 1, default: 1 }
        authMethod: { $ref: "#/components/schemas/AuthMethod" }
        accessCode:
          type: string
          minLength: 4
          maxLength: 64
          description: Required when authMethod is access_code.

    Signer:
      type: object
      required: [id, name, email, status, routingOrder]
      properties:
        id: { type: string, format: uuid, readOnly: true }
        name: { type: string }
        email: { type: string, format: email }
        status: { $ref: "#/components/schemas/SignerStatus" }
        routingOrder: { type: integer }
        signedAt: { type: [string, "null"], format: date-time, readOnly: true }

    FieldCreate:
      type: object
      required: [type, signerId, page, x, y, width, height]
      properties:
        type: { $ref: "#/components/schemas/FieldType" }
        signerId: { type: string, format: uuid }
        documentId:
          type: string
          format: uuid
          description: Which source document the field is on (required for multi-document envelopes).
        page: { type: integer, minimum: 1 }
        x: { type: number, minimum: 0 }
        y: { type: number, minimum: 0 }
        width: { type: number, exclusiveMinimum: 0 }
        height: { type: number, exclusiveMinimum: 0 }
        required: { type: boolean, default: true }
        options:
          type: array
          description: Choices for dropdown/radio fields.
          items: { type: string }
        condition: { $ref: "#/components/schemas/FieldCondition" }

    Field:
      allOf:
        - $ref: "#/components/schemas/FieldCreate"
        - type: object
          required: [id]
          properties:
            id: { type: string, format: uuid, readOnly: true }
            aiDetected: { type: boolean, readOnly: true }
            value: { type: [string, "null"] }

    Document:
      type: object
      required: [id, contentHash, mimeType, isFinal]
      properties:
        id: { type: string, format: uuid, readOnly: true }
        contentHash: { type: string, description: "SHA-256 hex of the bytes." }
        mimeType: { type: string }
        byteSize: { type: [integer, "null"] }
        position: { type: integer, description: "0-based order within the envelope." }
        isFinal: { type: boolean }
        pageCount: { type: [integer, "null"] }

    EnvelopeCreate:
      type: object
      required: [documentName, signers]
      properties:
        documentName: { type: string, minLength: 1, maxLength: 255 }
        signers:
          type: array
          minItems: 1
          items: { $ref: "#/components/schemas/SignerCreate" }
        expiresAt: { type: [string, "null"], format: date-time }
        reminderEveryHours:
          type: integer
          minimum: 1
          maximum: 8760
          description: Re-nudge unsigned signers every N hours.
        locale: { $ref: "#/components/schemas/Locale" }

    GenerateDocument:
      type: object
      required: [documentName, template, signers]
      properties:
        documentName: { type: string, minLength: 1, maxLength: 255 }
        template:
          type: string
          description: "Markdown-ish template; supports # / ## headings, - bullets, and {{variables}}."
        variables:
          type: object
          additionalProperties: { type: string }
        signers:
          type: array
          minItems: 1
          items: { $ref: "#/components/schemas/SignerCreate" }
        expiresAt: { type: [string, "null"], format: date-time }
        reminderEveryHours: { type: integer, minimum: 1, maximum: 8760 }
        locale: { $ref: "#/components/schemas/Locale" }

    Envelope:
      type: object
      required: [id, documentName, status, senderEmail, createdAt, signers]
      properties:
        id: { type: string, format: uuid, readOnly: true }
        documentName: { type: string }
        mode: { type: string, enum: [live, test], readOnly: true }
        status: { $ref: "#/components/schemas/EnvelopeStatus" }
        senderName: { type: string }
        senderEmail: { type: string, format: email }
        documentHashOriginal: { type: [string, "null"], readOnly: true }
        documentHashFinal: { type: [string, "null"], readOnly: true }
        hashAlgorithm: { type: string, default: "SHA-256", readOnly: true }
        signers:
          type: array
          items: { $ref: "#/components/schemas/Signer" }
        fields:
          type: array
          items: { $ref: "#/components/schemas/Field" }
        createdAt: { type: string, format: date-time, readOnly: true }
        sentAt: { type: [string, "null"], format: date-time, readOnly: true }
        completedAt: { type: [string, "null"], format: date-time, readOnly: true }
        expiresAt: { type: [string, "null"], format: date-time }

    SigningSession:
      type: object
      required: [envelopeId, signer, documentUrl, fields, consentRequired]
      properties:
        envelopeId: { type: string, format: uuid }
        documentName: { type: string }
        signer: { $ref: "#/components/schemas/Signer" }
        documentUrl: { type: string, format: uri, description: "Short-lived URL to the PDF." }
        fields:
          type: array
          items: { $ref: "#/components/schemas/Field" }
        consentRequired: { type: boolean }
        consentDisclosure:
          type: [object, "null"]
          required: [version, text, hash]
          properties:
            version: { type: string }
            text: { type: string }
            hash: { type: string }
        authRequired:
          type: string
          enum: [access_code, email_otp]
          description: When present, the signer must pass this challenge before the document is shown.
        locale: { $ref: "#/components/schemas/Locale" }
        documents:
          type: array
          items:
            type: object
            properties:
              id: { type: string, format: uuid }
              documentUrl: { type: string, format: uri }
              pageCount: { type: [integer, "null"] }
        branding:
          type: object
          properties:
            name: { type: [string, "null"] }
            color: { type: [string, "null"] }
            logoUrl: { type: [string, "null"] }

    Authenticate:
      type: object
      required: [code]
      properties:
        code: { type: string, minLength: 1, maxLength: 64 }

    TemplateRole:
      type: object
      required: [id, name, routingOrder]
      properties:
        id: { type: string, format: uuid, readOnly: true }
        name: { type: string }
        routingOrder: { type: integer }

    TemplateFieldCreate:
      type: object
      required: [type, roleId, page, x, y, width, height]
      properties:
        type: { $ref: "#/components/schemas/FieldType" }
        roleId: { type: string, format: uuid }
        page: { type: integer, minimum: 1 }
        x: { type: number, minimum: 0 }
        y: { type: number, minimum: 0 }
        width: { type: number, exclusiveMinimum: 0 }
        height: { type: number, exclusiveMinimum: 0 }
        required: { type: boolean, default: true }
        options:
          type: array
          items: { type: string }

    TemplateField:
      allOf:
        - $ref: "#/components/schemas/TemplateFieldCreate"
        - type: object
          required: [id]
          properties:
            id: { type: string, format: uuid, readOnly: true }

    TemplateCreate:
      type: object
      required: [name, documentName, roles]
      properties:
        name: { type: string }
        documentName: { type: string }
        roles:
          type: array
          minItems: 1
          items:
            type: object
            required: [name]
            properties:
              name: { type: string }
              routingOrder: { type: integer, minimum: 1 }

    Template:
      type: object
      required: [id, name, documentName, roles, fields, createdAt]
      properties:
        id: { type: string, format: uuid, readOnly: true }
        name: { type: string }
        documentName: { type: string }
        storageKey: { type: [string, "null"], readOnly: true }
        pageCount: { type: [integer, "null"] }
        roles:
          type: array
          items: { $ref: "#/components/schemas/TemplateRole" }
        fields:
          type: array
          items: { $ref: "#/components/schemas/TemplateField" }
        createdAt: { type: string, format: date-time, readOnly: true }

    InstantiateTemplate:
      type: object
      required: [signers]
      properties:
        signers:
          type: array
          minItems: 1
          items:
            type: object
            required: [roleId, name, email]
            properties:
              roleId: { type: string, format: uuid }
              name: { type: string }
              email: { type: string, format: email }
        documentName: { type: string }
        expiresAt: { type: string, format: date-time }

    PublishResult:
      type: object
      required: [slug, publicUrl]
      properties:
        slug: { type: string }
        publicUrl: { type: string, format: uri }

    PublicTemplate:
      type: object
      required: [name, documentName]
      properties:
        name: { type: string }
        documentName: { type: string }

    PublicStart:
      type: object
      required: [name, email]
      properties:
        name: { type: string, minLength: 1, maxLength: 120 }
        email: { type: string, format: email }

    PublicStartResult:
      type: object
      required: [signUrl, token]
      properties:
        signUrl: { type: string, format: uri }
        token: { type: string }

    BulkSend:
      type: object
      required: [recipients]
      properties:
        recipients:
          type: array
          minItems: 1
          maxItems: 500
          items:
            type: object
            required: [name, email]
            properties:
              name: { type: string, minLength: 1, maxLength: 120 }
              email: { type: string, format: email }

    BulkSendResult:
      type: object
      required: [sent, failed, envelopes, errors]
      properties:
        sent: { type: integer }
        failed: { type: integer }
        envelopes:
          type: array
          items:
            type: object
            properties:
              email: { type: string, format: email }
              envelopeId: { type: string, format: uuid }
        errors:
          type: array
          items:
            type: object
            properties:
              email: { type: string, format: email }
              error: { type: string }

    CursorPage:
      type: object
      required: [nextCursor, hasMore]
      properties:
        nextCursor: { type: [string, "null"] }
        hasMore: { type: boolean }

    WebhookEvent:
      type: object
      required: [id, type, createdAt, data]
      properties:
        id: { type: string }
        type:
          type: string
          enum:
            [
              envelope.sent,
              envelope.viewed,
              envelope.partially_signed,
              envelope.completed,
              envelope.declined,
              envelope.voided,
            ]
        createdAt: { type: string, format: date-time }
        data:
          type: object
          required: [envelope]
          properties:
            envelope: { $ref: "#/components/schemas/Envelope" }

    Problem:
      type: object
      required: [type, title, status]
      properties:
        type: { type: string, format: uri, example: "https://penpact.dev/errors/validation-error" }
        title: { type: string, example: "Validation Error" }
        status: { type: integer, example: 422 }
        detail: { type: string, example: "`signers` must contain at least one signer." }
        instance: { type: string, example: "/v1/envelopes" }
        errors:
          type: array
          items:
            type: object
            required: [field, message]
            properties:
              field: { type: string }
              message: { type: string }

  responses:
    BadRequest:
      description: Malformed request.
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/Problem" }
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/Problem" }
    NotFound:
      description: Resource not found.
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/Problem" }
    Conflict:
      description: The envelope is not in a state that allows this operation.
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/Problem" }
    Gone:
      description: The signing link has expired, been completed, or been voided.
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/Problem" }
    UnprocessableEntity:
      description: Validation failed.
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/Problem" }
    TooManyRequests:
      description: Rate limit exceeded.
      headers:
        Retry-After:
          schema: { type: integer }
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/Problem" }

  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: "Secret API key as a Bearer token: `Authorization: Bearer pk_live_…`."
